
<h1><a href="#/api/grid">grid</a></h1>
<p><p>The <code>dcm-ui.grid</code> module provides an angular based grid component.
Also includes a service for managing the grid datasource and filters.</p>
<p>requires: underscore.js, jQuery</p></p>
</p>

<h1><a href="#/api/helpers">helpers</a></h1>
<p><p>Helpers used by other components</p>
</p>

<h1><a href="#/api/multiple-input">multiple-input</a></h1>
<p><p>The <code>dcm-ui.multiple-input</code> module provides a generic repeatable input field</p>
</p>

<h1><a href="#/api/password">password</a></h1>
<p><p>The <code>dcm-ui.password</code> module provides a directive implementing modified Stanford password validation rules.</p>
<ul>
 <li>Password length &lt; 12 requires number, upper/lower letters, special chararacters</li>
 <li>Password length 12-15 requires number, upper/lower letters</li>
 <li>Password length 16-19 requires upper/lower letters</li>
 <li>Password length &gt; 19 has no requirements</li>
</ul>
Note: The directive does not implement the following Stanford validation rules:
<ul>
 <li>The password cannot match a previous password used by the user.</li>
 <li>The password cannot be a single dictionary word.</li>
</ul></p>

<h1><a href="#/api/read-file">read-file</a></h1>
<p><p>The <code>dcm-ui.read-file</code> module allows you to use the HTML fileReader to load a file</p>
</p>

<h1><a href="#/api/resizable-cols">resizable-cols</a></h1>
<p><p>The <code>dcm-ui.resizable-cols</code> module allows you to set table columns as resizable</p>
</p>

<h1><a href="#/api/select2">select2</a></h1>
<p><p>The <code>dcm-ui.select2</code> module provides a wrapper to the select2 jQuery library</p>
</p>

<h1><a href="#/api/slider">slider</a></h1>
<p><p>The <code>dcm-ui.slider</code> module provides an angular based slider component.</p>
<p>requires: jQuery</p>
</p>
