.dcm-grid {
  position: relative;
  margin: 0 0 20px 0;
}

.dcm-grid:before, .dcm-grid:after {
  content: " ";
  display: table;
}

.dcm-grid:after {
  clear: both;
}

.dcm-grid table.dcm-grid-table {
  table-layout: fixed;
  border-collapse: separate;
  border-top: solid 1px #e4e4e4;
  clear: both;
}

.dcm-grid .dcm-grid-datastats {
  float: left;
  margin: 12px 0 18px 18px;
  padding: 5px 0 0 0;
}

.dcm-grid .pagination {
  float: right;
  margin-top: 10px;
}

.dcm-grid table.dcm-grid-table > thead > tr > th,
.dcm-grid table.dcm-grid-table > tbody > tr > td {
  overflow: hidden;
  padding: 8px 12px;
  border-top: solid 1px white;
  border-bottom: solid 1px #e4e4e4;
  color: #8d8d8d;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: white 0px 1px 0px;
}

.dcm-grid table.dcm-grid-table > tbody .tooltip {
  text-shadow: none;
}

.dcm-grid table.dcm-grid-table > thead > tr > th.resizable-column {
  border-right: solid 1px #fff;
  text-overflow: none;
  white-space: enabled;
}

.dcm-grid table.dcm-grid-table > thead > tr > th.resizable-column a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dcm-grid table.dcm-grid-table > thead > tr > th.resizable-column a.drag-handle:hover {
  background-color: #009ae2;
}

.dcm-grid table.dcm-grid-table > thead > tr > th.resizable-column.resizing {
  border-right-color: #e6e6e6;
}

.dcm-grid table.dcm-grid-table > thead > tr > th.resizable-column.resizing a.drag-handle {
  visibility: hidden;
}

.dcm-grid table.dcm-grid-table > tbody > tr {
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F0F0', endColorstr='#FFF8F8F8', GradientType=0);
}

.dcm-grid table.dcm-grid-table > tbody > tr.muted {
  background: #fcfcfc;
}

.dcm-grid table.dcm-grid-table > tbody > tr.muted > td {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.dcm-grid table.dcm-grid-table > thead > tr {
  background: #e6e6e6;
}

.dcm-grid table.dcm-grid-table > thead > tr > th {
  color: #8d8d8d;
  font-weight: normal;
  white-space: nowrap;
}

.dcm-grid table.dcm-grid-table > thead > tr > th > a:first-child {
  display: inline;
  color: #737373;
}

.dcm-grid table.dcm-grid-table > thead > tr > th > a:first-child:hover {
  text-decoration: underline;
}

.dcm-grid table.dcm-grid-table > thead > tr > th > a.disabled i {
  display: none;
}

.dcm-grid table.dcm-grid-table > thead > tr > th > a.disabled {
  color: #999999;
  cursor: default;
}

.dcm-grid table.dcm-grid-table > thead > tr > th > a.disabled:hover {
  text-decoration: none;
}

.dcm-grid table.dcm-grid-table > thead > tr > th > a > i {
  margin: 0 0 0 2px;
}

.dcm-grid table.dcm-grid-table > tbody > tr > td.dcm-grid-selectable,
.dcm-grid table.dcm-grid-table > thead > tr > th.dcm-grid-selectable {
  text-align: center;
  width: 36px;
}

.dcm-grid table.dcm-grid-table > tbody > tr > td.dcm-grid-selectable input[type="radio"],
.dcm-grid table.dcm-grid-table > tbody > tr > td.dcm-grid-selectable input[type="checkbox"],
.dcm-grid table.dcm-grid-table > thead > tr > th.dcm-grid-selectable input[type="radio"],
.dcm-grid table.dcm-grid-table > thead > tr > th.dcm-grid-selectable input[type="checkbox"] {
  margin-top: 0;
}

.dcm-grid table.dcm-grid-table > tbody > tr {
  cursor: pointer;
}

.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details {
  cursor: auto;
}

.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details > td {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details,
.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details:hover,
.dcm-grid table.dcm-grid-table > tbody > tr.active,
.dcm-grid table.dcm-grid-table > tbody > tr.active:hover {
  background: #fff;
}

.dcm-grid table.dcm-grid-table > tbody > tr.active > td,
.dcm-grid table.dcm-grid-table > tbody > tr.active:hover > td {
  color: #737373;
  border-collapse: collapse;
  border-bottom-color: #fff;
}

.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details > td {
  overflow: visible;
  padding-left: 12px;
  border-top: none;
  white-space: normal;
  color: #333333;
  text-shadow: none;
}

.dcm-grid table.dcm-grid-table > tbody .dcm-grid-rowactions {
  margin: 0;
}

.dcm-grid table.dcm-grid-table > tbody .dcm-grid-rowactions > div.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.dcm-grid table.dcm-grid-table > tbody .dcm-grid-rowinfo {
  padding-top: 8px;
  overflow-x: auto;
}

.dcm-grid table.dcm-grid-table > thead > tr > th.dcm-grid-activemarker,
.dcm-grid table.dcm-grid-table > tbody > tr > td.dcm-grid-activemarker {
  padding: 0;
  width: 3px;
}

.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details > td.dcm-grid-activemarker,
.dcm-grid table.dcm-grid-table > tbody > tr.active > td.dcm-grid-activemarker {
  background-color: #009ae2;
  border-bottom-color: #009ae2;
  border-top-color: #009ae2;
}

.dcm-grid table.dcm-grid-table > tbody > tr:hover {
  background: #e9e9e9;
}

.dcm-grid table.dcm-grid-table > tbody > tr:hover > td {
  color: #737373;
}

.dcm-grid table.dcm-grid-table > tbody > tr.selected > td,
.dcm-grid table.dcm-grid-table > tbody > tr.selected.active:hover > td {
  background: #ffffcc;
  color: #737373;
  border-bottom-color: #ffffcc;
}

.dcm-grid table.dcm-grid-table > tbody > tr.selected.active:hover > td.dcm-grid-activemarker {
  background-color: #009ae2;
  border-bottom-color: #009ae2;
}

.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details.selected > td.dcm-grid-activemarker {
  border-bottom-color: #009ae2;
}

.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details.selected > td,
.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details.selected:hover > td {
  border-bottom-color: #e4e4e4;
  color: #333333;
}

.dcm-grid table.dcm-grid-table > tbody > tr.dcm-grid-details:hover > td {
  border-bottom-color: #e4e4e4;
  color: #333333;
}

.dcm-grid div.resizable-columns-drag-box {
  border-right: 1px #009ae2 solid;
}