 // Default variables.

$dcm-grid-baseColor:                 #F3F3F3 !default;
$dcm-grid-fontColorDark:             darken($dcm-grid-baseColor, 50%) !default;
$dcm-grid-fontColorLight:            darken($dcm-grid-baseColor, 40%) !default;
$dcm-grid-selectedBackgroundColor:   #FFFFCC !default;
$dcm-grid-activeColor:               lighten($esBaseBlue, 6%) !default;
$dcm-grid-rowHoverColor:             darken($dcm-grid-baseColor, 4%) !default;
$dcm-grid-rowHightlightColor:        #FFF !default;
$dcm-grid-rowShadowColor:            darken($dcm-grid-baseColor, 6%) !default;
$dcm-grid-rowGradientTop:            darken(#FFF, 6%) !default;
$dcm-grid-rowGradientBottom:         lighten($dcm-grid-baseColor, 2%) !default;


 // Base grid styles.

.dcm-grid {
  // Main setup.
  @include clearfix;
  position: relative;
  margin: 0 0 20px 0;

  // Make sure the core table works.
  table.dcm-grid-table {
    table-layout: fixed;
    border-collapse: collapse;
    border-top: solid 1px $dcm-grid-rowShadowColor;
    clear: both;  //for firefox
  }

  // Place our core grid components.


  // Pagination at the bottom
  .pagination { float: right; margin-top: 10px; }

  // Setup the main table styles.
  table.dcm-grid-table {
    > thead > tr > th,
    > tbody > tr > td {
      overflow: hidden;
      padding: 8px 12px;
      border-top: solid 1px $dcm-grid-rowHightlightColor;
      border-bottom: solid 1px $dcm-grid-rowShadowColor;
      color: $dcm-grid-fontColorLight;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include user-select(none); // Stop accidental text highlight / select
      @include text-shadow(#ffffff 0px 1px 0px);
    }

    // Make sure tooltips don't pick up this shadow.
    > tbody .tooltip { @include text-shadow(none); }

    // For resizable headers, modify.
    > thead > tr > th.resizable-column {

      // Tweak the border to a like-able colour.
      border-right: solid 1px #fff;

      // Resizable headers should have their child a tags with an ellipses, not the th.
      text-overflow: none;
      white-space: enabled;

      a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      // We want our drag handle a dell blue.
      a.drag-handle:hover { background-color: $dcm-grid-activeColor; }
    }

    // While a header is resizing...
    > thead > tr > th.resizable-column.resizing {

      // don't show the border
      border-right-color: darken($dcm-grid-baseColor, 5%);

      // hide the drag handle
      a.drag-handle { visibility: hidden; }
    }


    // Default row styles.
    > tbody > tr {
      @include gradient-vertical($dcm-grid-rowGradientTop, $dcm-grid-rowGradientBottom);
    }

    // Muted row styles.
    > tbody > tr.muted {
      //@include opacity(0.8);
      background: darken(#FFF, 1%);
      > td {
        @include opacity(0.4);
      }
    }

    // The table header has some specific style requirements.
    > thead > tr { background: darken($dcm-grid-baseColor, 5%); }
    > thead > tr > th {
      color: $dcm-grid-fontColorLight;
      font-weight: normal;
      white-space: nowrap;
    }
    > thead > tr > th > a:first-child {
      display: inline;
      color: $dcm-grid-fontColorDark;
      //line-height: $base-line-height;
    }
    > thead > tr > th > a:first-child:hover { text-decoration: underline; }

    // Enable disabled support for the table header.
    > thead > tr > th > a.disabled i { display: none; }
    > thead > tr > th > a.disabled { color: $gray-light; cursor: default; }
    > thead > tr > th > a.disabled:hover { text-decoration: none; }

    // Align sort icons correctly.
    > thead > tr > th > a > i { margin: 0 0 0 2px; }

    // Selectable cells need specific changes.
    > tbody > tr > td.dcm-grid-selectable,
    > thead > tr > th.dcm-grid-selectable { text-align: center; width: 36px; }

    > tbody > tr > td.dcm-grid-selectable input[type="radio"],
    > tbody > tr > td.dcm-grid-selectable input[type="checkbox"],
    > thead > tr > th.dcm-grid-selectable input[type="radio"],
    > thead > tr > th.dcm-grid-selectable input[type="checkbox"] { margin-top: 0; }

    // Ensure we have pointers on all rows in the body with exceptions.
    > tbody > tr { cursor: pointer; }
    > tbody > tr.dcm-grid-details { cursor: auto; }

    // re-enable content selection for our grid details.
    > tbody > tr.dcm-grid-details > td { @include user-select(text); }

    // Our actions / info row needs some specific changes.
    > tbody .dcm-grid-rowinfo { padding-top: 8px; overflow-x: auto; }

    // Ensure the active row and its rowdetail are highlighted effectively.
    > thead > tr > th.dcm-grid-activemarker,
    > tbody > tr > td.dcm-grid-activemarker { padding: 0 0 0 12px; width: 30px; text-aign: right; }
    > tbody > tr.dcm-grid-details > td.dcm-grid-activemarker,
    > tbody > tr.active > td.dcm-grid-activemarker { border-left: solid 5px $dcm-grid-activeColor; }

    // Define our hover and active states.
    > tbody > tr:hover { background: $dcm-grid-rowHoverColor; }
    > tbody > tr:hover > td { color: $dcm-grid-fontColorDark; }
    > tbody > tr.selected > td,
    > tbody > tr.selected.active:hover > td { background: $dcm-grid-selectedBackgroundColor; color: $dcm-grid-fontColorDark; }
    > tbody > td.selected.active > td { border-bottom-color: $dcm-grid-activeColor; }

    > tbody > tr.dcm-grid-details.selected > td,
    > tbody > tr.dcm-grid-details.selected:hover > td { border-bottom-color: $dcm-grid-rowShadowColor; color: $text-color; }
    > tbody > tr.dcm-grid-details:hover > td { border-bottom-color: $dcm-grid-rowShadowColor; color: $text-color; }
  }

  // drag box
  div.resizable-columns-drag-box {
    border-right: 1px lighten($esBaseBlue, 6%) solid;
  }
}