
<h1>Directive components in <code>dcm-ui.slider</code></h1>



<div class="component-breakdown">
  <div>
    <table class="definition-table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      
      <tr>
        <td><a href="dcm-ui.slider/directive/dcmSlider">dcmSlider</a></td>
        <td><p>Creates a slider control</p>
</td>
      </tr>
      
      <tr>
        <td><a href="dcm-ui.slider/directive/dcmSliderHandle">dcmSliderHandle</a></td>
        <td><p>Provides transcluded content to the handle of a dcm-slider control (optional)</p>
</td>
      </tr>
      
    </table>
  </div>
</div>

